html,

body
{
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body
{
	overflow: hidden; 
	background-color: rgb(153, 204, 255);
}

.ficha
{
	fill: blue;
	stroke: blue;
	stroke-width: 2;
}

.fichaSeleccionada
{
	fill: Crimson;
	stroke: black;
	stroke-width: 2;
}

.casilla
{
	fill-opacity: 0;
	stroke-opacity: 0;
}


.tablero
{
	stroke: white;
	stroke-width: 3;
}

#cajaBoton
{
	 fill: green;
	 stroke: rgb(0,0,0);
	 stroke-width: 1;
}

#reiniciar, #volverJuego
{
	fill: white;
}

#reiniciar:hover, #volverJuego:hover
{
	fill: yellow;
}


