html,

body
{
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body
{
	overflow: hidden; 
	background: rgba(0, 43, 108, 0.9);
	background: linear-gradient(to bottom, rgba(0, 43, 108, 0.9) 0%, rgba(0, 43, 108, 0.9) 100%);
}

.ficha
{
	fill: orange;
	stroke: orange;
	stroke-width: 2;
}



.tablero
{
	stroke: white;
	stroke-width: 3;
}

